Source: ros-lyrical-motion-capture-tracking
Section: misc
Priority: optional
Maintainer: Wolfgang Hönig <hoenig@tu-berlin.de>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, libpcl-dev, ros-lyrical-ament-cmake, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-eigen3-cmake-module, ros-lyrical-motion-capture-tracking-interfaces, ros-lyrical-rclcpp, ros-lyrical-sensor-msgs, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/motion_capture_tracking/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-motion-capture-tracking
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libpcl-dev, ros-lyrical-eigen3-cmake-module, ros-lyrical-motion-capture-tracking-interfaces, ros-lyrical-rclcpp, ros-lyrical-sensor-msgs, ros-lyrical-tf2-ros, ros-lyrical-ros-workspace
Description: ROS Package for different motion capture systems, including custom rigid body tracking support
